<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur le site des comères !</h1><br/>
    <span>Voici les potins existants :</span>
    <% gossips.each do |gossip| %>
    <p>	<%= gossip.author %><br/>
    	<%= gossip.content %>
    	</p><% end %>
    	<br/><br/>

    <p>	Tu peux ajouter ta propre histoire croustillante en cliquant sur<a href="/gossips/new/"> ce lien.</a></p>

  </body>
</html>