<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur le site des comères !</h1><br/>
    <span>Pour l'instant, aucun potin n'est disponible ; sois le premier à faire ta comère débile en cliquant sur<a href="/gossips/new/"> ce lien.</a>
  </body>
</html>